<a href="https://colab.research.google.com/github/Wang-wei-hua9/2020-Introduction-and-Application-of-Data-Science/blob/master/20200619%E4%B8%8A%E8%AA%B2%E8%88%87%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
luke = "luke skywalker"

In [2]:
skywalker = "luke skywalker"

In [3]:
luke_skywalker = "luke skywalker"

In [6]:
luke.upper()

'LUKE SKYWALKER'

In [7]:
skywalker.upper()

'LUKE SKYWALKER'

In [ ]:
class MyStr:
  def __init__(self):
    pass
  def upper(self):
    return #....
  def lower(self):
    return #....

luke = MyStr()
luke.upper()
luke.lower()

In [15]:
class City:
  def __init__(self, name):
    self._name = name
  def get_hero(self):
    return "Batman"

In [10]:
tpe = City("Taipei")
print(tpe._name)

Taipei

In [12]:
gotham = City("Gotham")
print(gotham._name)

Gotham

In [16]:
gotham = City("Gotham")
print(gotham.get_hero())

Batman

In [23]:
class City:
  def __init__(self, name):
    self._name = name
  def get_hero(self, hero_name):
    self._hero_name = hero_name
    return "{} city has {}".format(self._name, self._hero_name)

In [24]:
gotham = City("Gotham")
gotham.get_hero("Batman")

'Gotham city has Batman'

In [28]:
class City:
  def __init__(self, city_name, hero_name):
    self._city_name = city_name
    self._hero_name = hero_name
  def get_hero(self):
    return "{} city has {}".format(self._city_name, self._hero_name)

In [29]:
gotham = City("Gotham","Batman")
gotham.get_hero()

'Gotham city has Batman'

In [1]:
# Mission: read latest daily report from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
from datetime import date
from datetime import timedelta
import pandas as pd

today = date.today()
today_str = today.strftime('%m-%d-%Y')
while True:
    csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(today_str)
    try:
        daily_report = pd.read_csv(csv_url)
        print("{}.csv is available".format(today_str))
        break
    except:
        print("{}.csv is not available".format(today_str))
        day_delta = timedelta(days=-1)
        today += day_delta
        today_str = today.strftime('%m-%d-%Y')
        print("Trying {}.csv".format(today_str))

06-19-2020.csv is not available
Trying 06-18-2020.csv
06-18-2020.csv is not available
Trying 06-17-2020.csv
06-17-2020.csv is available

In [4]:
# Mission: read latest daily report from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
from datetime import date
from datetime import timedelta
import pandas as pd

def get_latest_daily_report():
  today = date.today()
  today_str = today.strftime('%m-%d-%Y')
  while True:
      csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(today_str)
      try:
          daily_report = pd.read_csv(csv_url)
          print("{}.csv is available".format(today_str))
          break
      except:
          print("{}.csv is not available".format(today_str))
          day_delta = timedelta(days=-1)
          today += day_delta
          today_str = today.strftime('%m-%d-%Y')
          print("Trying {}.csv".format(today_str))
  return daily_report

In [5]:
latest_daily_report = get_latest_daily_report()
latest_daily_report

06-19-2020.csv is not available
Trying 06-18-2020.csv
06-18-2020.csv is not available
Trying 06-17-2020.csv
06-17-2020.csv is available

         FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0     45001.0  Abbeville  ...     297.631182            0.000000
1     22001.0     Acadia  ...    1007.333387            5.120000
2     51001.0   Accomack  ...    3150.142344            1.375246
3     16001.0        Ada  ...     204.739746            2.231237
4     19001.0      Adair  ...     167.785235            0.000000
...       ...        ...  ...            ...                 ...
3742      NaN        NaN  ...      10.879332            0.540541
3743      NaN        NaN  ...       1.506705           11.111111
3744      NaN        NaN  ...       3.024210           27.050998
3745      NaN        NaN  ...       7.680610            0.779037
3746      NaN        NaN  ...       2.697988            0.997506

[3747 rows x 14 columns]

In [12]:
def get_latest_date():
    today = date.today()
    today_str = today.strftime('%m-%d-%Y')
    while True:
        csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(today_str)
        try:
            pd.read_csv(csv_url)
            print("{}.csv is available".format(today_str))
            break
        except:
            print("{}.csv is not available".format(today_str))
            day_delta = timedelta(days=-1)
            today += day_delta
            today_str = today.strftime('%m-%d-%Y')
            print("Trying {}.csv".format(today_str))
    return today_str

def get_latest_daily_report(latest_date):
    csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv"
    csv_url = csv_url.format(latest_date)
    daily_report = pd.read_csv(csv_url)
    return daily_report

In [10]:
get_latest_date()

06-19-2020.csv is not available
Trying 06-18-2020.csv
06-18-2020.csv is not available
Trying 06-17-2020.csv
06-17-2020.csv is available

'06-17-2020'

In [13]:
latest_daily_report.head()

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...     297.631182            0.000000
1  22001.0     Acadia  ...    1007.333387            5.120000
2  51001.0   Accomack  ...    3150.142344            1.375246
3  16001.0        Ada  ...     204.739746            2.231237
4  19001.0      Adair  ...     167.785235            0.000000

[5 rows x 14 columns]

In [18]:
class DailyReport:
    def __init__(self):
        pass

    def get_latest_date(self):
        today = date.today()
        today_str = today.strftime('%m-%d-%Y')
        while True:
            csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(today_str)
            try:
                pd.read_csv(csv_url)
                print("{}.csv is available".format(today_str))
                break
            except:
                print("{}.csv is not available".format(today_str))
                day_delta = timedelta(days=-1)
                today += day_delta
                today_str = today.strftime('%m-%d-%Y')
                print("Trying {}.csv".format(today_str))
        return today_str

    def get_latest_daily_report(self):
        latest_date = self.get_latest_date()
        csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv"
        csv_url = csv_url.format(latest_date)
        daily_report = pd.read_csv(csv_url)
        return daily_report

In [19]:
dr = DailyReport()
latest_daily_report = dr.get_latest_daily_report()
latest_daily_report.head()

06-19-2020.csv is not available
Trying 06-18-2020.csv
06-18-2020.csv is not available
Trying 06-17-2020.csv
06-17-2020.csv is available

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...     297.631182            0.000000
1  22001.0     Acadia  ...    1007.333387            5.120000
2  51001.0   Accomack  ...    3150.142344            1.375246
3  16001.0        Ada  ...     204.739746            2.231237
4  19001.0      Adair  ...     167.785235            0.000000

[5 rows x 14 columns]

In [20]:
class DailyReport:
    def __init__(self):
        pass

    def get_latest_date(self):
        today = date.today()
        today_str = today.strftime('%m-%d-%Y')
        while True:
            csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(today_str)
            try:
                pd.read_csv(csv_url)
                print("{}.csv is available".format(today_str))
                break
            except:
                print("{}.csv is not available".format(today_str))
                day_delta = timedelta(days=-1)
                today += day_delta
                today_str = today.strftime('%m-%d-%Y')
                print("Trying {}.csv".format(today_str))
        self._latest_date = today_str

    def get_latest_daily_report(self):
        self.get_latest_date()
        csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv"
        csv_url = csv_url.format(self._latest_date)
        daily_report = pd.read_csv(csv_url)
        return daily_report

In [21]:
dr = DailyReport()
latest_daily_report = dr.get_latest_daily_report()
latest_daily_report.head()

06-19-2020.csv is not available
Trying 06-18-2020.csv
06-18-2020.csv is not available
Trying 06-17-2020.csv
06-17-2020.csv is available

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...     297.631182            0.000000
1  22001.0     Acadia  ...    1007.333387            5.120000
2  51001.0   Accomack  ...    3150.142344            1.375246
3  16001.0        Ada  ...     204.739746            2.231237
4  19001.0      Adair  ...     167.785235            0.000000

[5 rows x 14 columns]

In [22]:
class Covid19Data(DailyReport):
    def get_time_series(self):
        data_suffix = ['confirmed_US', 'confirmed_global', 'deaths_US', 'deaths_global', 'recovered_global']
        csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_{}.csv"
        time_series = dict()
        for ds in data_suffix:
            file_url = csv_url.format(ds)
            df = pd.read_csv(file_url)
            time_series[ds] = df
        return time_series

In [23]:
covid_data = Covid19Data()
latest_daily_report = covid_data.get_latest_daily_report()
latest_daily_report.head()

06-19-2020.csv is not available
Trying 06-18-2020.csv
06-18-2020.csv is not available
Trying 06-17-2020.csv
06-17-2020.csv is available

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...     297.631182            0.000000
1  22001.0     Acadia  ...    1007.333387            5.120000
2  51001.0   Accomack  ...    3150.142344            1.375246
3  16001.0        Ada  ...     204.739746            2.231237
4  19001.0      Adair  ...     167.785235            0.000000

[5 rows x 14 columns]

In [24]:
time_series = covid_data.get_time_series()

In [25]:
time_series['confirmed_global'].head()

  Province/State Country/Region      Lat  ...  6/15/20  6/16/20  6/17/20
0            NaN    Afghanistan  33.0000  ...    25527    26310    26874
1            NaN        Albania  41.1533  ...     1590     1672     1722
2            NaN        Algeria  28.0339  ...    11031    11147    11268
3            NaN        Andorra  42.5063  ...      853      854      854
4            NaN         Angola -11.2027  ...      142      148      155

[5 rows x 152 columns]

In [26]:
for k in time_series.keys():
    print(k)

confirmed_US
confirmed_global
deaths_US
deaths_global
recovered_global

In [27]:
import requests
from bs4 import BeautifulSoup

class ImdbMovieParent:
    """
    Information about a certain movie on IMDB.com
    """
    def __init__(self, movie_title):
        self._movie_title = movie_title
        
    def get_similar_titles(self):
        request_headers = {
            'accept-language': 'en,en-US'
        }
        query_string_parameters = {
            'q': self._movie_title,
            's': 'tt',
            'ttype': 'ft',
            'ref_': 'fn_ft',
        }
        request_url = "https://www.imdb.com/find"
        response = requests.get(request_url, params=query_string_parameters, headers=request_headers)
        soup = BeautifulSoup(response.text)
        similar_titles = [i.text for i in soup.select(".result_text a")]
        similar_links = ["https://www.imbd.com" + i.get('href') for i in soup.select(".result_text a")]
        return similar_titles, similar_links

In [28]:
imp = ImdbMovieParent('Black Panther')
imp.get_similar_titles()

(['Black Panther',
  'Black Panther',
  'Ninja Death Squad',
  'Black Panther II',
  'Black Panthers',
  'Warriors: The Black Panther',
  'Black Panther Woman',
  'Kuroi Mehyô M',
  'The Black Panther',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  'The Black Panther',
  'The Black Panthers: Vanguard of the Revolution',
  'The Black Panther',
  "The Black Panther's Cub",
  'The Black Panther of Ratana',
  'Gungala, the Black Panther Girl',
  'The Black Panter',
  'Operation Black Panther',
  'Eldridge Cleaver, Black Panther',
  'Merritt College: Home of the Black Panthers',
  'Legacy Spirit of the Black Panthers',
  'All Power to the People! (The Black Panther Party and Beyond)',
  'Angola 3: Black Panthers and the Last Slave Plantation',
  'Santo in the Mystery of the Black Pearl',
  'Panther',
  '41st and Central: The Untold Story of the L.A. Black Panther Party',
  'Do Black Patent Leather Shoes Really Reflect Up?',
  'Night Catches Us',
  'The Black Alley Cats',
  'Blue Passion',
  'Bamboo Trap',
  'Hei bao',
  'Hei bao',
  'Fight for the Glory'],
 ['https://www.imbd.com/title/tt1825683/',
  'https://www.imbd.com/title/tt2905856/',
  'https://www.imbd.com/title/tt0199818/',
  'https://www.imbd.com/title/tt9114286/',
  'https://www.imbd.com/title/tt8602126/',
  'https://www.imbd.com/title/tt0107098/',
  'https://www.imbd.com/title/tt4151104/',
  'https://www.imbd.com/title/tt3591958/',
  'https://www.imbd.com/title/tt0075764/',
  'https://www.imbd.com/title/tt0325980/',
  'https://www.imbd.com/title/tt1678046/',
  'https://www.imbd.com/title/tt4316236/',
  'https://www.imbd.com/title/tt0070167/',
  'https://www.imbd.com/title/tt0011974/',
  'https://www.imbd.com/title/tt0056457/',
  'https://www.imbd.com/title/tt0063038/',
  'https://www.imbd.com/title/tt6290396/',
  'https://www.imbd.com/title/tt0254880/',
  'https://www.imbd.com/title/tt0196528/',
  'https://www.imbd.com/title/tt2062588/',
  'https://www.imbd.com/title/tt5547738/',
  'https://www.imbd.com/title/tt0210482/',
  'https://www.imbd.com/title/tt2306366/',
  'https://www.imbd.com/title/tt0208304/',
  'https://www.imbd.com/title/tt0114084/',
  'https://www.imbd.com/title/tt11558154/',
  'https://www.imbd.com/title/tt4054350/',
  'https://www.imbd.com/title/tt0775543/',
  'https://www.imbd.com/title/tt0069789/',
  'https://www.imbd.com/title/tt0075759/',
  'https://www.imbd.com/title/tt0164379/',
  'https://www.imbd.com/title/tt0449975/',
  'https://www.imbd.com/title/tt4820404/',
  'https://www.imbd.com/title/tt0211348/'])

In [29]:
imp = ImdbMovieParent('Black Panther')
imp.get_similar_titles()

(['Black Panther',
  'Black Panther',
  'Ninja Death Squad',
  'Black Panther II',
  'Black Panthers',
  'Warriors: The Black Panther',
  'Black Panther Woman',
  'Kuroi Mehyô M',
  'The Black Panther',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  'The Black Panther',
  'The Black Panthers: Vanguard of the Revolution',
  'The Black Panther',
  "The Black Panther's Cub",
  'The Black Panther of Ratana',
  'Gungala, the Black Panther Girl',
  'The Black Panter',
  'Operation Black Panther',
  'Eldridge Cleaver, Black Panther',
  'Merritt College: Home of the Black Panthers',
  'Legacy Spirit of the Black Panthers',
  'All Power to the People! (The Black Panther Party and Beyond)',
  'Angola 3: Black Panthers and the Last Slave Plantation',
  'Santo in the Mystery of the Black Pearl',
  'Panther',
  '41st and Central: The Untold Story of the L.A. Black Panther Party',
  'Do Black Patent Leather Shoes Really Reflect Up?',
  'Night Catches Us',
  'The Black Alley Cats',
  'Blue Passion',
  'Bamboo Trap',
  'Hei bao',
  'Hei bao',
  'Fight for the Glory'],
 ['https://www.imbd.com/title/tt1825683/',
  'https://www.imbd.com/title/tt2905856/',
  'https://www.imbd.com/title/tt0199818/',
  'https://www.imbd.com/title/tt9114286/',
  'https://www.imbd.com/title/tt8602126/',
  'https://www.imbd.com/title/tt0107098/',
  'https://www.imbd.com/title/tt4151104/',
  'https://www.imbd.com/title/tt3591958/',
  'https://www.imbd.com/title/tt0075764/',
  'https://www.imbd.com/title/tt0325980/',
  'https://www.imbd.com/title/tt1678046/',
  'https://www.imbd.com/title/tt4316236/',
  'https://www.imbd.com/title/tt0070167/',
  'https://www.imbd.com/title/tt0011974/',
  'https://www.imbd.com/title/tt0056457/',
  'https://www.imbd.com/title/tt0063038/',
  'https://www.imbd.com/title/tt6290396/',
  'https://www.imbd.com/title/tt0254880/',
  'https://www.imbd.com/title/tt0196528/',
  'https://www.imbd.com/title/tt2062588/',
  'https://www.imbd.com/title/tt5547738/',
  'https://www.imbd.com/title/tt0210482/',
  'https://www.imbd.com/title/tt2306366/',
  'https://www.imbd.com/title/tt0208304/',
  'https://www.imbd.com/title/tt0114084/',
  'https://www.imbd.com/title/tt11558154/',
  'https://www.imbd.com/title/tt4054350/',
  'https://www.imbd.com/title/tt0775543/',
  'https://www.imbd.com/title/tt0069789/',
  'https://www.imbd.com/title/tt0075759/',
  'https://www.imbd.com/title/tt0164379/',
  'https://www.imbd.com/title/tt0449975/',
  'https://www.imbd.com/title/tt4820404/',
  'https://www.imbd.com/title/tt0211348/'])

In [30]:
class ImdbMovieChild(ImdbMovieParent):
    def __init__(self, movie_title, top_n_similar_titles):
        super().__init__(movie_title)
        self._top_n_similar_titles = top_n_similar_titles
    def get_most_similar_title(self):
        titles, links = self.get_similar_titles()
        return titles[0:self._top_n_similar_titles], links[0:self._top_n_similar_titles]

In [31]:
imc = ImdbMovieChild('Avengers', 5)

In [32]:
print(imc._movie_title)
print(imc._top_n_similar_titles)

Avengers
5

In [33]:
imc.get_most_similar_title()

(['The Avengers',
  'Novgorodtsy',
  'Fu chou zhe',
  'Avengers: Endgame',
  'Avengers: Infinity War'],
 ['https://www.imbd.com/title/tt0848228/',
  'https://www.imbd.com/title/tt0036220/',
  'https://www.imbd.com/title/tt0164450/',
  'https://www.imbd.com/title/tt4154796/',
  'https://www.imbd.com/title/tt4154756/'])

In [34]:
class ImdbMovieChild(ImdbMovieParent):
    def __init__(self, movie_title, top_n_similar_titles):
        super().__init__(movie_title)
        self._top_n_similar_titles = top_n_similar_titles
    def get_most_similar_title(self):
        titles, links = self.get_similar_titles()
        return titles[0:self._top_n_similar_titles], links[0:self._top_n_similar_titles]

In [35]:
imc = ImdbMovieChild('Avengers', 5)

In [36]:
print(imc._movie_title)
print(imc._top_n_similar_titles)

Avengers
5

In [37]:
imc.get_most_similar_title()

(['The Avengers',
  'Novgorodtsy',
  'Fu chou zhe',
  'Avengers: Endgame',
  'Avengers: Infinity War'],
 ['https://www.imbd.com/title/tt0848228/',
  'https://www.imbd.com/title/tt0036220/',
  'https://www.imbd.com/title/tt0164450/',
  'https://www.imbd.com/title/tt4154796/',
  'https://www.imbd.com/title/tt4154756/'])

In [38]:
from movie import ImdbMovie

ModuleNotFoundError: ignored

In [39]:
im = ImdbMovie('Transformer')
im.get_similar_titles()

NameError: ignored

In [ ]:
from movie_package import movie