<a href="https://colab.research.google.com/github/Wang-wei-hua9/2020-Introduction-and-Application-of-Data-Science/blob/master/20200515%E4%B8%8A%E8%AA%B2%E8%88%87%E7%B7%B4%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
primes = [2, 3, 5, 7, 11]
print(type(primes))

<class 'list'>

In [2]:
primes = (2, 3, 5, 7, 11)
print(type(primes))

<class 'tuple'>

In [17]:
print(primes[0])
print(primes[-1])
print(primes[1])
print(primes[-2])

2
11
3
7

In [7]:
print(primes[::2])

(2, 5, 11)

In [13]:
primse_list = [2, 3, 5, 7, 11]
primse_list[-1] = 13  #內容更動
print(primse_list)

[2, 3, 5, 7, 13]

In [14]:
print(len(primse_list))

5

In [15]:
#加入數字
primse_list.insert(-1, 11)
print(primse_list)

[2, 3, 5, 7, 11, 13]

In [33]:
primes_list.pop()
print(primes_list)

NameError: ignored

In [0]:
print(primes = (2, 3, 5, 7, 11)
print(type(primes))

In [21]:
primes[-1] = 13

TypeError: ignored

In [0]:
primes.

In [29]:
#小數點轉比例 前面分子後面分母
x = 0.25
print(type(x))
print(x.as_integer_ratio())
print(type(x.as_integer_ratio()))

<class 'float'>
(1, 4)
<class 'tuple'>

In [30]:
def where_are_you_from(city, country):
  return city, country

print(where_are_you_from("Taipei", "Taiwan"))
print(type(where_are_you_from("Taipei", "Taiwan")))

('Taipei', 'Taiwan')
<class 'tuple'>

In [31]:
my_city, my_country = where_are_you_from("Taipei", "Taiwan")
print(my_city)
print(my_country)

Taipei
Taiwan

In [32]:
numerator, denominator = x.as_integer_ratio()
print(numerator)
print(denominator)

1
4

In [0]:
#字典
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}

In [35]:
print(type(the_avengers))

<class 'dict'>

In [36]:
print(the_avengers.keys())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])

In [37]:
print(the_avengers.values())

dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])

In [38]:
print(the_avengers.items())

dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [40]:
print(the_avengers["Iron Man"])
print(the_avengers["Captain America"])

Tony Stark
Steve Rogers

In [41]:
living_area = input("請輸入您的居住縣市:")
print(living_area)

請輸入您的居住縣市:台南市
台南市

In [45]:
#條件判斷
#練習
living_area = input("請輸入您的居住縣市:")

if living_area == "台北市":
  print("17,005")
elif living_area == "新北市":
  print('15,500')
elif living_area == "桃園市":
  print("15,281")
elif living_area == "台中市":
  print("14,596")
elif living_area == "台南市":
  print('12,388')
else:
  print('13,099')

請輸入您的居住縣市:台北市
17,005

In [47]:
living_area = input("請輸入您的居住縣市:")
living_cost = None
if living_area == '臺北市':
    living_cost = 17005
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '新北市':
    living_cost = 15500
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '桃園市':
    living_cost = 15281
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '臺中市':
    living_cost = 14596
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '臺南市':
    living_cost = 12388
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '高雄市':
    living_cost = 13099
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '非六都之縣市':
    living_cost = 12388
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '金門縣連江縣':
    living_cost = 11648
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
else:
    print("請重新輸入居住縣市")

請輸入您的居住縣市:臺北市
臺北市的每人每月最低生活費為17,005

In [0]:
living_area = input("請輸入您的居住縣市:")
living_cost = None
if living_area == '臺北市':
    living_cost = 17005
elif living_area == '新北市':
    living_cost = 15500
elif living_area == '桃園市':
    living_cost = 15281
elif living_area == '臺中市':
    living_cost = 14596
elif living_area == '臺南市':
    living_cost = 12388
elif living_area == '高雄市':
    living_cost = 13099
elif living_area == '非六都之縣市':
    living_cost = 12388
elif living_area == '金門縣連江縣':
    living_cost = 11648

if living_cost is None:
    print("請重新輸入居住縣市")
else:
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

In [67]:
#try 是用來找error用的

living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '非六都之縣市': 12388,
    '金門縣連江縣': 11648
}
living_area = input("請輸入您的居住縣市:")
try: 
  living_cost = living_cost_dict[living_area]
 
 
except KeyError:
  print("請重新輸入居住縣市")

請輸入您的居住縣市:花蓮縣
請重新輸入居住縣市

In [75]:
#@title Default title text
living_area = '\u65B0\u5317\u5E02' #@param ['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市', '非六都之縣市', '金門縣連江縣']
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

新北市的每人每月最低生活費為15,500

In [76]:
#set 只存一個資料
primse_list = [2,3,3,3,3,3,5,5,5]
print(primse_list)

[2, 3, 3, 3, 3, 3, 5, 5, 5]

In [78]:
set(primse_list)

{2, 3, 5}

In [79]:
primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
print(primes)

{2, 3, 5, 7, 11, 13}

In [80]:
primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
odds = {1, 3, 5, 7, 9, 11, 13}
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [81]:
#交集
primes & odds

{3, 5, 7, 11, 13}

In [83]:
#.intersection
primes.intersection(odds)

{3, 5, 7, 11, 13}

In [84]:
#聯集
primes | odds

{1, 2, 3, 5, 7, 9, 11, 13}

In [85]:
#.union
primes.union(odds)

{1, 2, 3, 5, 7, 9, 11, 13}

In [88]:
#差異
#有方向性的
primes - odds

{2}

In [89]:
odds - primes

{1, 9}

In [90]:
#.differeint
primes.difference(odds)

{2}

In [92]:
(primes - odds) | (odds - primes)

{1, 2, 9}

In [93]:
#對稱差異
primes^odds

{1, 2, 9}

In [95]:
#.symmetric_difference
print(primes.symmetric_difference(odds))

{1, 2, 9}

In [96]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [107]:
I = iter(primes)
next(I)

2

In [108]:
next(I)

3

In [109]:
next(I)

5

In [110]:
next(I)

7

In [112]:
primes

{2, 3, 5, 7, 11, 13}

In [114]:
import requests

today_json = requests.get("https://data.nba.net/10s/prod/v1/today.json").json()
print(type(today_json))

<class 'dict'>

In [116]:
today_json.keys()

dict_keys(['_internal', 'teamSitesOnly', 'seasonScheduleYear', 'showPlayoffsClinch', 'links'])

In [117]:
print(type(today_json['links']))

<class 'dict'>

In [118]:
today_json['links']['leagueRosterPlayers']

'/prod/v1/2019/players.json'

In [119]:
primse_list = [2, 3, 5, 7, 11]
I = iter(primse_list)
next(I)

2

In [121]:
primse_tuple = (2, 3, 5, 7, 11)
I = iter(primse_tuple)
next(I)

2

In [122]:
living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '非六都之縣市': 12388,
    '金門縣連江縣': 11648
}

I = iter(living_cost_dict.keys())
next(I)

'臺北市'

In [123]:
I = iter(living_cost_dict.items())
next(I)

('臺北市', 17005)

In [125]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [126]:
I = iter(5566)

TypeError: ignored

In [130]:
#for 迴圈

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100