<a href="https://colab.research.google.com/github/Wang-wei-hua9/2020-Introduction-and-Application-of-Data-Science/blob/master/20200612%E4%B8%8A%E8%AA%B2%E8%88%87%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#檔案處理
f = open("all_time_best_movies.txt","x")
f.close()

In [0]:
#檔案寫入
f = open("all_time_best_movies.txt", "w")
f.write("The Shawshank Redemption (1994),9.2\n")  #\n 為跳行
f.close()

In [0]:
#with 可以不用叫close with為複寫
with open("all_time_best_movies.txt", "a") as f:
    f.write("The Godfather (1972),9.1\n")
    f.write("The Dark Knight (2008),9.0\n")
    f.write("Schindler's List (1993),8.9")

In [0]:
f = open("all_time_best_movies.txt", "w")
f.write("The Shawshank Redemption (1994),9.2\n")  #\n 為跳行
f.write("The Godfather (1972),9.1\n")
f.write("The Dark Knight (2008),9.0\n")
f.write("Schindler's List (1993),8.9")
f.close()

In [105]:
with open("all_time_best_movies.txt", "r") as f:
    print(f.read())

The Shawshank Redemption (1994),9.2
The Godfather (1972),9.1
The Dark Knight (2008),9.0
Schindler's List (1993),8.9

In [106]:
#讀前20個字read 內加數字
with open("all_time_best_movies.txt", "r") as f:
    print(f.read(20))

The Shawshank Redemp

In [107]:
with open("all_time_best_movies.txt", "r") as f:
  for line in f.readlines():
    print(line)

The Shawshank Redemption (1994),9.2

The Godfather (1972),9.1

The Dark Knight (2008),9.0

Schindler's List (1993),8.9

In [0]:
all_time_best_movies = []
with open("all_time_best_movies.txt", "r") as f:
  for line in f.readlines():
    all_time_best_movies.append(line.strip())   #strip 可以移除多於空格

In [109]:
print(all_time_best_movies)

['The Shawshank Redemption (1994),9.2', 'The Godfather (1972),9.1', 'The Dark Knight (2008),9.0', "Schindler's List (1993),8.9"]

In [0]:
#刪除檔案 os標準的套件 remove涵數移除
import os
os.remove("all_time_best_movies.txt")

In [113]:
#三種基本錯誤
#Syntax errors：語法錯誤
#Runtime errors：直譯錯誤
#Semantic errors：邏輯錯誤

print(all_time_best_movies    #Syntax errors：語法錯誤

SyntaxError: ignored

In [114]:
#NameError
#TypeError
#IndexError
#ZeroDivisionError

my_luck_number = 5566
print(mY_luck_number)

NameError: ignored

In [0]:
"Hello world!" * 3

In [0]:
#TypeError
"Hello world!" * 3.5

In [0]:
#TypeError
"Hello world!" / 2

In [0]:
#IndexError
luke = "luke skywalker"
print(len(luke))

In [0]:
luke[14]

In [0]:
#ZeroDivisionError
5566/0

In [0]:
ˋˋˋpython
if 程式沒有出錯:
  #...做某些事
else: #程式出錯
  #...做另一件事
ˋˋˋ

```python
if 程式沒有出錯:
    #... 做某些動作
else: # 程式出錯了
    #... 做一些其他的動作
```

In [0]:
numerator = 5566
denominator = 0

try:
    answer = numerator / denominator
    print(answer)
except:
    print("Error occured")

In [0]:
numerator = 5566
denominator = 0

try:
    eval("numerator /// denominator")
    #print(answer)
except:
    print("Error occured")

In [0]:
5566/"0"

In [0]:
5566/0

In [0]:
numerator = 5566
denominator = 11

try:
    answer = numerator / denominator
    print(answer)
except ZeroDivisionError:
    print("You cannot assign 0 as denominator")
except TypeError:
    print("You cannot unsupported operand type(s) for /: 'int' and 'str")
except:
    print("Some ambigous error happened")

In [0]:
def is_prime(x):
    """
    判斷輸入的正整數 x 是否為質數
    """
    if x < 0:
      raise ValueError("不接受負數的輸入")
    elif x < 2:
      raise ValueError('不接受小於2的輸入')
    elif isinstance(x, float):
      raise ValueError("不接受浮點數")
    divisor_cnt, i = 0, 1
    while i <= x:
        if x % i == 0:
            divisor_cnt += 1
        if divisor_cnt > 2:
            break
        i += 1
    return divisor_cnt == 2

In [0]:
is_prime(55.66)

In [0]:
def swap_case(x):
  if not isinstance(x, str):
    raise ValueError("Please input a string.")
  x_swapped = x.swapcase() #區塊的物件
  return x_swapped

In [0]:
swap_case("fiajfsajfpa")

In [0]:
x = "ajdsjogufy"
x_swapped = x.swapcase() #區塊的物件
def swap_case(x):
 # if not isinstance(x, str):
 #   raise ValueError("Please input a string.")
 # x_swapped = x.swapcase() #區塊的物件
  return x, x_swapped

In [0]:
swap_case("fiajfsajfpa")

In [0]:
def factorial(n):
  if n == 0:
    return 1
  elif n == 1:
    return 1
  else:
    return factorial(n-1)*n

In [0]:
factorial(10)

$$
n! = 1\times 2\times ...\times (n-1)*n\\
$$

In [0]:
y = int(input("請輸入一個數:"))
x = list(range(1, y+1))
N = len(x)
x_bar = sum(x) / N
sse = 0
for xi in x:
    #error = xi - x_bar
    squared_error = (xi - x_bar)**2
    sse += squared_error #sse = sse + squared_error
sample_mse = sse / (N-1)
sample_stdev = sample_mse**(0.5)
print(sample_stdev)

In [0]:
def get_std(*args):
    n = len(args)
    #if n == 1:
    #    return 'Please input at least 2 numbers.'
    x_bar = sum(args) / n
    sse = 0
    for xi in args:
        sse += (xi - x_bar)**2
    try:
        std = (sse / (n-1))**0.5
        return std
    except ZeroDivisionError:
        return 'Please input at least 2 numbers.'

In [116]:
get_std(1, 3, 5, 7, 9)

3.1622776601683795

In [117]:
get_std(3, 4, 5, 6, 7)

1.5811388300841898

In [118]:
get_std(3)

'Please input at least 2 numbers.'